<h2>All Products</h2>
<h3>Total: <%= @products.count %></h3>
<ul id="products">
    <% @products.each do |product| %>
    <li id=<%= product.id%>>
        <strong><%= link_to product.title, product %></strong> - Stock: <%= product.stock_quantity %> - Price: $<%= product.price %>
    </li>
    <% end %>

</div>